<div>
<button mat-raised-button>Hello world</button>
<button mat-flat-button>Flat Button</button>
<button mat-stroked-button>Stroked Button</button>
</div><hr>
<div>
  <button mat-icon-button> Icon</button>
  <button mat-fab>Fab Button</button>
  <button mat-mini-fab>mfab</button>
</div><hr>
<div>
  <button color="primary" mat-button>Primmary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primmary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div><hr>

<div>
  <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>
<div>
  <mat-button-toggle value="angular">Angular</mat-button-toggle>
  <mat-button-toggle value="react">React</mat-button-toggle>
  <mat-button-toggle value="Vue">Vue</mat-button-toggle>
</div >
<hr><br>
<div>
  <span matBadge="5">Notification</span>
</div><hr>

  <hr>
  <div>
    <mat-toolbar color="primary" class="navbar">
      <div>CODEVOLUTION</div>
      <div>
        <span> Home </span>
        <span> About </span>
        <span> Services </span>
      </div>
    </mat-toolbar>
  </div><br><br><hr>
  
    <div>
      <mat-menu #appMenu="matMenu"> 
        <button mat-menu-item [matMenuTriggerFor]="subMenu" >FrontEnd</button>
        <button mat-menu-item>BackEnd</button>
      </mat-menu>
    
      <button  class mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
    
      <mat-menu #subMenu="matMenu" xPosition="after" yPosition="above">
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>React</button>
      <button mat-menu-item>vue</button>
    </mat-menu>
    </div><br><br> <hr>
    <div>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon> home</mat-icon>
          <h3 matLine> Heading</h3>
          <p matLine>Line</p>
        </mat-list-item>
        
      </mat-list>
      <mat-list>
       <mat-list-item>
         <mat-icon matListIcon>folder</mat-icon>
         <h3 matLine> Heading</h3>
         <p matLine>Line2</p>
       </mat-list-item>
     </mat-list>
      </div><br><br> <hr>
      
      <div>
        <mat-nav-list>
   
         <a mat-list-item href="#">Home</a>  
         <a mat-list-item href="#">About</a>
            <a mat-list-item href="#">Service</a>
       
            </mat-nav-list>
      </div><br><br> <hr>
      <div>
        <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
        <mat-grid-tile >Title 1</mat-grid-tile>
        <mat-grid-tile>Title 2</mat-grid-tile>
        <mat-grid-tile>Title 3</mat-grid-tile>
        <mat-grid-tile>Title 4</mat-grid-tile>
        </mat-grid-list> 
        
      </div><br><hr><br><br>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
          <mat-panel-title> Angular Funda</mat-panel-title>
          <mat-panel-description>
            Total Duration:3 hours
          </mat-panel-description>
      
        </mat-expansion-panel-header>
        
        <p>This is the panel content.Add course</p>
        <mat-action-row>
          <button mat-button>Enroll</button>
        </mat-action-row>
        </mat-expansion-panel>
        <div>
          <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>Vue Fundamentals</mat-panel-title>
            <mat-panel-description>
              Total Duration:2 hours
            </mat-panel-description>
        
          </mat-expansion-panel-header>
          
          <p>This is the 2nd panel content.Add course</p>
          <mat-action-row>
            <button mat-button>Enroll</button>
          </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div><br><hr><br>
      <div>
        <mat-card>
          <mat-card-title>
            Card Title
          </mat-card-title>
          <mat-card-content>
            This is card content
          </mat-card-content>
          <mat-card-actions align="end"> 
            <button mat-raised-button>Login</button>
         </mat-card-actions>
        </mat-card>
     </div><br><br><br><hr><br>
     <div>
      <mat-tab-group #tabRef>
        <mat-tab label="Angular">Angular Content</mat-tab>
        <mat-tab label="React">React Content</mat-tab>
        <mat-tab label="Vue">vue Content</mat-tab>
      </mat-tab-group>
      {{tabRef.selectedIndex}}
    </div><br><br><hr><br>
    <div>
      <mat-vertical-stepper linear>
      <mat-step Label="Shipping Address" completed=true><p>Shipping Address Details</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
      <mat-step Label="Billing Address"completed=false optional><p>Billing Address</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step Label="Place Address"><p>Order Details</p>
        <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
      </mat-step>
    </mat-vertical-stepper>
    </div><br><hr> <br>
    <div>
      <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
        <mat-label>Name</mat-label>
      <input matInput required>
      <mat-hint>Min 8 characters</mat-hint>
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
      <mat-label>Name1</mat-label>
    <input matInput required>
    <mat-hint>Min 8 characters</mat-hint>
    </mat-form-field>
    </div><br><br><hr><br>
    <div>
      <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select>
          
          <mat-option value="MG">MG</mat-option>
          <mat-option value="BENZ">BENZ</mat-option>
          <mat-option value="TATA"> TATA</mat-option>
        </mat-select>
      </mat-form-field>
    
    </div><br><br><hr><br>
   <!-- <div>
      <form>
        <mat-form-field>
          <input type="text" matInput [matAutocomplete]= "auto"/>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
           </mat-autocomplete>
        </mat-form-field>
      </form>
    </div><br><br><hr><br> --->
    <div>
      <mat-checkbox color="warn"color="warn">
        Subscribe
      </mat-checkbox>
      <br>
      <mat-checkbox color="primary" labelPosition="before">
        Subscribe
      </mat-checkbox>
      <br>
      <mat-checkbox >
        Subscribe
      </mat-checkbox><BR>
      
    </div><br><br><hr><br>
    <div>
      <mat-radio-group>
        <mat-radio-button value="Angular" color="primary">Angular</mat-radio-button>
        <mat-radio-button value="React">React</mat-radio-button>
        <mat-radio-button value="Vue" color="warn">vue</mat-radio-button>
      </mat-radio-group>
    </div><br><br><hr><br>
    <div>
      <button mat-raised-button matTooltip="Welcome to CODEVOLUTION">Hello</button>
    </div><br><br><hr><br>
    <div>
      <button mat-button (click)="openSnackBar('item deleted', 'Dismiss')">
        Show Snackbar
      </button>
    </div><br><br><hr><br>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
   